//---------------------------------
// PATRON DE COLORES
//---------------------------------

$texto: #111111;
$principal: #12AFAF;
$secundario: #009500;

html {
    font-size: 15px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $texto;
}

.encabezado {
    background: $texto;
    color: #fff;
    padding: .5rem 0;
}

.encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.encabezado .logo img {
    width: 150px;
    height: auto;
}

.logo {
    flex-grow: 1;
}

.boton-buscar,
.boton-menu {
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: #fff;
}

.boton-buscar:focus,
.boton-menu:focus {
    outline: 0;
}

/*Estilos bloque buscar*/

#bloque-buscar {
    flex: 1 1 100%;
}

.contenedor-bloque-buscar {
    display: flex;
    height: 3rem;
    margin: 1rem 0;
    align-items: center
}

.contenedor-bloque-buscar input[type="text"] {
    flex: 1 1 auto;
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem .5rem;
}

.contenedor-bloque-buscar input[type="submit"] {
    border: 0;
    border-radius: 0 5px 5px 0;
    padding: 1rem .5rem;
    background: $principal;
    color: #fff;
}

#menu-principal {
    flex: 1 1 100%;
}

#menu-principal ul {
    padding: 0;
    list-style: none;
    margin-top: 1rem;
}

#menu-principal ul li a {
    display: block;
    padding: .8rem 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #fff;
}


#menu-principal ul li a:hover,
#menu-principal ul li.active a {
    color: $principal
}



















